<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-12">
            {% for post in posts %}

                {% if loop.first %}
                    {% include 'includes/post-renderlet.html.twig' with { post: post } %}
                {% else %}
                    {% include 'includes/post/preview.html.twig' with { post: post } %}
                {% endif %}

                {% if not loop.last %}
                    <hr class="my-4"/>
                {% endif %}
            {% else %}
                <div class="mb-5">
                    <h2 class="text-center">No posts found!</h2>
                    <span class="d-block w-100 text-center">There are no posts to read yet!</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>